.mealDetails {
  padding: 1rem;
  min-height: 100vh;
  background: #fcf3e8;
  overflow: hidden;
  .errorMsg {
    width: 100vw;
    p {
      font-weight: 700;
      height: 80px;
      font-size: 1.5rem;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 1rem;
      width: fit-content;
      background-color: white;
      color: #f29724;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
  @media (min-width: 640px) {
    .mealDetails {
      margin-left: 16rem;
    }
  }
  .container {
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
    div {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      .mealDetails {
        h1 {
          font-size: 3rem;
          font-weight: 600;
          margin-bottom: 1rem;
          font-family: "Pacifico", cursive;
        }
        .mealContent {
          display: grid;
          gap: 1rem;
          align-items: stretch;
          @media (min-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
          }
          img {
            width: 100%;
            border-radius: 1rem;
            margin-bottom: 2rem;
          }
          .links {
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-direction: row;
          }
          .yutubelink,
          .sourcelink {
            color: #ffffff;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-right: 0.5rem;
              fill: #ffffff;
              width: 24px;
              height: 24px;
            }
          }
          .yutubelink {
            background-color: #dc2626;
          }
          .sourcelink {
            background-color: #059669;
          }
          p {
            font-family: cursive;
          }
          .table {
            padding: 1rem;
            @media (min-width: 1024px) {
              width: 100%;
            }
            .tableContent {
              background-color: #ffffff;
              border-radius: 1rem;
              padding: 1rem;
              font-family: cursive;
              h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
                border-bottom-width: 4px;
                padding: 0.5rem;
              }
              div {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding: 0.5rem;
                border-bottom-width: 2px;
              }
              .lastLine {
                border-bottom-width: 0;
              }
            }
          }
        }
      }
    }
  }
}
